body{
    background-color: #fdd8ca;
}
main{
    display: flex;
    justify-content: center;
}
div#img{
    width: 50vw;
    height: 100vh;

    background:  url('../../imagens/renata6.jpg');
    background-position: center center;
    background-size: cover;

    box-shadow: 1px 0px 9px rgba(0, 0, 0, 0.308);

    flex-shrink: 0;

}
main div#div2{
    width: 50vw;
}
h1{
    text-align: center;
}
p{
    font-size: 1.2em;
    text-align: unset;
}